<div class="transparent">
    <br>
    <h2>Other Projects</h2>
<br>
{{#each friend}}
<a href="{{this.link}}" target="_blank">
<div class="artist" style="background: url({{this.image}}); background-size: cover; background-position: center; background-repeat: no-repeat">
    <div class="overlay">
    <h3>{{this.name}}</h3>
    {{!-- <img src="{{this.image}}" alt=""> --}}
    <p>{{this.description}}</p>

    {{#if ../user}}
    <div>
    <a href="/friends/edit/{{this.name}}" class="edit-links">Edit Project</a>
    <a href="/friends/delete/{{this.name}}" class="edit-links">Delete Project</a>
    </div>
    {{/if}}
    </div>
</div>
</a>
{{/each}}

{{#if user}}
<h3>Add new project</h3>

<form action="/friends" method="POST" enctype="multipart/form-data">
    <input type="text" name="artistName" placeholder="Name" required="true">
    <input type="text" name="artistDescription" placeholder="Description" required="true">
    <input type="text" name="artistLink" placeholder="Link to website">
    <p>Image:</p>
    <input type="file" name="image">
    <br><br>
    <button type="submit">Add Project</button>
</form>
{{/if}}
<br>
<br>
</div>